<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502386525742-ei1tark4pfp3jnuani7e3jc7h5rf0gei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502386525742-ei1tark4pfp3jnuani7e3jc7h5rf0gei</string>
	<key>API_KEY</key>
	<string>AIzaSyDQh40QEHQDs_HMMD1LybniPkyEMQd7lC8</string>
	<key>GCM_SENDER_ID</key>
	<string>502386525742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.yonsei.minsookim.HomeGuide</string>
	<key>PROJECT_ID</key>
	<string>homeguide-493c7</string>
	<key>STORAGE_BUCKET</key>
	<string>homeguide-493c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:502386525742:ios:3634d043b0dc5e171a01bf</string>
	<key>DATABASE_URL</key>
	<string>https://homeguide-493c7.firebaseio.com</string>
</dict>
</plist>
